 p{
    width: 500px;
}
button:hover {
    color:green;
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    background-color: lightblue;
    border: solid black 5px;
}
.profile-image {
    border: solid black 5px;
    border-radius: 200px;
}
.all-divs {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.cards {
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: lightpink;
    height: 60px;
    width: auto;
}
.sidebar{
    display:flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    body{background-color:lightgreen;}
}
@media (max-width: 1024px) {
    body{background-color:red;}
}
